TEMPORAL_WORKERS_TEMPORAL_HOST=localhost:7233
TEMPORAL_WORKERS_TEMPORAL_NAMESPACE=default
TEMPORAL_WORKERS_TEMPORAL_TLS=false
TEMPORAL_WORKERS_MAX_CONCURRENT_ACTIVITIES=100
TEMPORAL_WORKERS_MAX_CONCURRENT_WORKFLOW_TASKS=100
TEMPORAL_WORKERS_LOG_LEVEL=INFO
