# namespace                      = "dataspace"
# postgres_storage_size          = "100Gi"
# vault_storage_size             = "50Gi"
# ingress_class_name             = "nginx"
# object_storage_bucket          = "dataspace-prod-eu-artifacts"
# object_storage_region          = "eu-west-1"
# external_postgres_host         = "postgres.prod-eu.example.internal"
# external_postgres_secret_name  = "control-plane-postgres-prod-eu"
# external_keycloak_service_name = "keycloak-prod-eu"
# external_keycloak_admin_url    = "https://keycloak.eu.example.com/admin"
# external_keycloak_realm_url    = "https://keycloak.eu.example.com/realms/dataspace"
# external_vault_addr            = "https://vault.eu.example.com"
# external_vault_service_name    = "vault-prod-eu"
# external_object_storage_url    = "s3://dataspace-prod-eu-artifacts"
