PROVISIONING_CONTROL_API_URL=http://localhost:8000
PROVISIONING_CONTROL_API_TOKEN=
PROVISIONING_KEYCLOAK_URL=http://localhost:8080
PROVISIONING_KEYCLOAK_REALM=master
PROVISIONING_KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
PROVISIONING_KEYCLOAK_ADMIN_CLIENT_SECRET=changeme
PROVISIONING_TARGET_REALM=dataspace
PROVISIONING_TEMPORAL_HOST=localhost:7233
PROVISIONING_TEMPORAL_NAMESPACE=default
PROVISIONING_CHECKPOINT_DIR=.provisioning-checkpoints
PROVISIONING_DESIRED_STATE_DIR=desired-state
PROVISIONING_DRY_RUN=false
PROVISIONING_LOG_LEVEL=INFO
