# namespace                     = "dataspace"
# postgres_storage_size         = "20Gi"
# vault_storage_size            = "10Gi"
# ingress_class_name            = "nginx"
# external_postgres_host        = "postgres.staging.example.internal"
# external_postgres_secret_name = "control-plane-postgres-staging"
# external_keycloak_service_name = "keycloak-staging"
# external_keycloak_admin_url    = "https://keycloak.staging.example.com/admin"
# external_keycloak_realm_url    = "https://keycloak.staging.example.com/realms/dataspace"
# external_vault_addr            = "https://vault.staging.example.com"
# external_vault_service_name    = "vault-staging"
